@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
@font-face {
  font-family: "TitanOne", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TitanOne-Regular.eot");
  src: url("../fonts/TitanOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TitanOne.svg#svgTitanOne") format("svg"), url("../fonts/TitanOne.ttf") format("truetype"), url("../fonts/TitanOne.woff") format("woff"), url("../fonts/TitanOne-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/DMSans-Bold.eot");
  src: url("../fonts/DMSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Bold.svg#svgDMSans-Bold") format("svg"), url("../fonts/DMSans-Bold.ttf") format("truetype"), url("../fonts/DMSans-Bold.woff") format("woff"), url("../fonts/DMSans-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/DMSans-Medium.eot");
  src: url("../fonts/DMSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Medium.svg#svgDMSans-Medium") format("svg"), url("../fonts/DMSans-Medium.ttf") format("truetype"), url("../fonts/DMSans-Medium.woff") format("woff"), url("../fonts/DMSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/DMSans-Regular.eot");
  src: url("../fonts/DMSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Regular.svg#DMSans-Regular") format("svg"), url("../fonts/DMSans-Regular.ttf") format("truetype"), url("../fonts/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans-Regular.woff2") format("woff2");
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1999px) {
  .container {
    max-width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}
body {
  font-family: "DM Sans", sans-serif;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main__label {
  font-family: "Titan One", sans-serif;
  font-size: 26px;
  line-height: 1.145;
  color: #ffffff;
  letter-spacing: 4%;
}
@media (min: width 768px) {
  .main__label {
    font-size: 22px;
    line-height: 1.136;
  }
}
@media (min: width 1200px) {
  .main__label {
    font-size: 38px;
    line-height: 1.157;
  }
}

.main__title {
  font-family: "Titan One", sans-serif;
  font-size: 48px;
  line-height: 0.958;
  color: #d41443;
}
@media (min: width 768px) {
  .main__title {
    font-size: 34px;
    line-height: 0.911;
  }
}
@media (min: width 1200px) {
  .main__title {
    font-size: 58px;
    line-height: 0.896;
  }
}

.section__title {
  font-family: "Titan One", sans-serif;
  color: #d41443;
  font-size: 34px;
  line-height: 1.147;
}
@media (min: width 768px) {
  .section__title {
    font-size: 48px;
    line-height: 1.145;
  }
}
@media (min: width 1200px) {
  .section__title {
    font-size: 58px;
    line-height: 1.137;
  }
}

.section__label {
  font-family: "Titan One", sans-serif;
  font-size: 18px;
  color: #ffa5ba;
  line-height: 1.166;
}
@media (min: width 768px) {
  .section__label {
    font-size: 26px;
    line-height: 1.153;
  }
}
@media (min: width 1200px) {
  .section__label {
    font-size: 30px;
    line-height: 1.133;
  }
}

.product__title {
  font-size: 20px;
  color: #ffffff;
  line-height: 1.15;
}
@media (min: width 768px) {
  .product__title {
    font-size: 20px;
    line-height: 1.145;
  }
}
@media (min: width 1200px) {
  .product__title {
    font-size: 30px;
    line-height: 1.145;
  }
}

.products {
  display: block;
  padding: 121px 20px 98px 20px;
}

.products__text-box {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Titan One", sans-serif;
}

.products__text {
  font-size: 18px;
  line-height: 1.166;
  color: #ffa5ba;
  margin-bottom: 15px;
}

.products__title {
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  color: #d41443;
  margin-bottom: 31px;
}

.products-list__item {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  padding-top: 113px;
  text-align: center;
  color: #ffffff;
}

.products-list__subtitle {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-top: 161px;
}

.products-list__points {
  margin-bottom: 30px;
  height: 6px;
  width: 6px;
}

.products-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
}

.products-list__textbox {
  padding: 0 40px 40px 40px;
  background: #ffb8ca;
  border-radius: 24px;
}
.products-list__textbox--yellow {
  background: #f0d1a5;
}
.products-list__textbox--green {
  background: #c2e297;
}

.footer {
  background-color: #fff5f6;
}

.footer a {
  text-decoration: none;
}
.footer li {
  list-style: none;
}

.footer__text {
  font-family: "Titan One";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.145;
  color: #ffa5ba;
  text-transform: uppercase;
  margin-bottom: 17px;
}
@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 26px;
  }
}

.footer__subtext {
  font-family: "Titan One";
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: 1.145;
  letter-spacing: 0.04em;
  color: #d41443;
  text-transform: uppercase;
  margin-bottom: 43px;
  padding-right: 100px;
}
@media screen and (min-width: 768px) {
  .footer__subtext {
    font-size: 48px;
  }
}

.footer__social {
  display: flex;
  justify-content: flex-end;
}

.footer__icons {
  display: flex;
  margin-top: 0;
  margin-bottom: 46px;
  padding: 0;
}

.footer__link {
  width: 34px;
  height: 34px;
  margin-right: 28.24px;
  fill: #ffffff;
  background-color: #fea5bb;
  border-radius: 50% 50%;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__contacts {
  margin-bottom: 43px;
  text-align: right;
}

.footer__contacts-detales {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 1.86;
  color: #d41443;
  text-align: left;
}

.footer__contacts-text {
  color: black;
}

.footer__contacts-rights {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.52;
  color: #907e82;
  padding-top: 22px;
  padding-bottom: 25px;
  text-align: center;
  border-top: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .footer__contacts-rights {
    padding-bottom: 18px;
    padding-top: 29px;
  }
}

/*media*/
@media screen and (min-width: 768) {
  .footer .container {
    display: flex;
  }

  .footer__information {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */