<section class="section__about">
  <div class="container">
    <p class="section__label section__label--about">tradition and love</p>
    <h2 class="section__title section__title--about">how it’s made?</h2>
    <div class="box__about">
      <img class="image__about" srcset="
            ./images/about/cow-desk1x.png 516w,
            ./images/about/cow-desk2x.png 1032w,
            ./images/about/cow-tab1x.png 340w,
            ./images/about/cow-tab2x.png 680w,
            ./images/about/cow-mob1x.png 280w,
            ./images/about/cow-mob2x.png 560w"
        sizes="(min-width:1280px) 516w, (min-width:768px) 340w, (min-width:480px) 280w"
        src="./images/about/cow-desk1x.png" alt="Cow and pitcher of milk">

      <div class="text-block__about">
        <p class="text__about--dark">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
          faucibus
          lorem eget,
          egestas eros.
          Maecenas eleifend erat at justo fringilla.</p>
        <!-- <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
</p> -->
        <p class="text__about--light text__about--position">Curabitur lacinia enim at ex blandit, vel pellentesque odio
          elementum. Mauris rhoncus orci in
          imperdiet
          placerat.
          Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.</p>

        <p class="text__about--light text__about--position"> Aliquam erat volutpat. Aenean accumsan.</p>
        <button class="button" type="button">Read more

          <svg class="check-right__icon" width="4.43px" height="8px">
            <use href="./images/icons/icons.svg#check-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>