<section class="section__advantages">
    <div class="container container-advantages">
        <h2 class="title__advantages">Advantages</h2>
        <ul class="list list__avantages">
            <li class="item__advantages item__advantages--milk">
                <p class="data__advantages">721</p>
                <p class="text__advantages">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="item__advantages item__advantages--apple">
                <p class="data__advantages">16kg</p>
                <p class="text__advantages">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="item__advantages item__advantages--heart">
                <p class="data__advantages">84</p>
                <p class="text__advantages">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>