<section class="reviews">
    <div class="container reviews--container single-item slider responsive slick-initialized slick-slider slick-dotted" role="toolbar" >
        <div class="reviews__item slick-slide slick-active">
            <div class="reviews__photo">
                <picture class="reviews__image">
                    <source srcset="./images/reviews/kristina.jpg"/>
                    <img class="reviews__image"
                        src="./images/reviews/kristina.jpg"
                        alt="Девушка с мороженым"/>
                </picture>
            </div>
            <div class="review__box">
                <div class="reviews__text-box">
                        <div class="reviews__text">
                            <svg  class="reviews__icon-top" width="54px" height="40px">
                                <use href="./images/icons/icons.svg#icon-text"></use>
                            </svg>   
                            <span class="reviews__about">Лауреат премии "золотой костыль".
                            Местная чир-лидерша. Всё ещё надеется выйти замуж за принца</span>
                        </div>
                </div>
            </div>
            <div class="reviews__ellipse-box">
                <svg  class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg  class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
            </div>
            <p class="reviews__name">Kristina, Мадрид</p>
            <div class="reviews__carousel dots">
                <svg  class="reviews__carousel-icon" width="12.4px" height="11.84px">
                    <use href="./images/icons/icons.svg#icon-home"></use>
                </svg>
                <svg  class="reviews__carousel-icon" width="12px" height="12px">
                    <use href="./images/reviews/symbol-defs.svg#ellipse-big"></use>
                </svg>
                <svg class="reviews__carousel-icon" width="12px" height="12px">
                    <use href="./images/icons/icons.svg#ellipse-big"></use>
                </svg>
            </div>
        </div>
        <!-- <div class="reviews__item slick-slide slick-active">
            <div class="reviews__photo">
                <picture class="reviews__image">
                    <source srcset="./images/reviews/jaroslava.jpg"/>
                    <img class="reviews__image"
                        src="./images/reviews/jaroslava.jpg"
                        alt="Лицо девушки с черными волосами"/>
                </picture>
            </div>
            <div class="review__box">
                <div class="reviews__text-box">
                        <div class="reviews__text">
                            <svg  class="reviews__icon-top" width="54px" height="40px">
                                  <use href="./images/icons/icons.svg#icon-text"></use>
                            </svg>   
                            <span class="reviews__about">Не надо работать по 12 часов в сутки, работай головой….по 15 часов в IT</span>
                        </div>
                </div>
            </div>
            <div class="reviews__ellipse-box">
                <svg  class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg  class="reviews__ellipse" width="4px" height="4px">
                   <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg class="reviews__ellipse" width="4px" height="4px">
                   <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
            </div>
            <p class="reviews__name">Jaroslava, Лондон</p>
            <div class="reviews__carousel dots">
                <svg  class="reviews__carousel-icon" width="12.4px" height="11.84px">
                    <use href="./images/icons/icons.svg#icon-home"></use>
                </svg>
                <svg  class="reviews__carousel-icon" width="12px" height="12px">
                    <use href="./images/reviews/symbol-defs.svg#ellipse-big"></use>
                </svg>
                <svg class="reviews__carousel-icon" width="12px" height="12px">
                    <use href="./images/icons/icons.svg#ellipse-big"></use>
                </svg>
            </div>
        </div> -->
        <!-- <div class="reviews__item">
            <div class="reviews__photo">
                <picture class="reviews__image">
                    <source srcset="./images/reviews/dmytry.jpg"/>
                    <img class="reviews__image"
                        src="./images/reviews/dmytry.jpg"
                        alt="Мужчина в куртке возле красной машины"/>
                </picture>
            </div>
            <div class="review__box">
                <div class="reviews__text-box">
                        <div class="reviews__text">
                            <svg  class="reviews__icon-top" width="54px" height="40px">
                                  <use href="./images/icons/icons.svg#icon-text"></use>
                            </svg>   
                            <span class="reviews__about">Главное вовремя понять - на одной верстке далеко не уедешь</span>
                        </div>
                </div>
            </div>
            <div class="reviews__ellipse-box">
                <svg  class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg  class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
            </div>
            <p class="reviews__name">Дмитрий, Киев</p>
            <div class="reviews__carousel dots">
                <svg  class="reviews__carousel-icon" width="12.4px" height="11.84px">
                    <use href="./images/icons/icons.svg#icon-home"></use>
                </svg>
                <svg  class="reviews__carousel-icon" width="12px" height="12px">
                    <use href="./images/reviews/symbol-defs.svg#ellipse-big"></use>
                </svg>
                <svg class="reviews__carousel-icon" width="12px" height="12px">
                    <use href="./images/icons/icons.svg#ellipse-big"></use>
                </svg>
            </div>
        </div> -->
        <!-- <div class="reviews__item">
            <div class="reviews__photo">
                <picture class="reviews__image">
                    <source srcset="./images/reviews/yevgeniya.jpg"/>
                    <img class="reviews__image"
                        src="./images/reviews/yevgeniya.jpg"
                        alt="Лицо светловолосой девушки"/>
                </picture>
            </div>
            <div class="review__box">
                <div class="reviews__text-box">
                        <div class="reviews__text">
                            <svg  class="reviews__icon-top" width="54px" height="40px">
                                 <use href="./images/icons/icons.svg#icon-text"></use>
                            </svg>   
                            <span class="reviews__about">Состоявшийся в профессии и сумасшедший HR решила кардинально изменить свою жизнь и записалась на Full Stack. Теперь все ночи у нее заняты :)</span>
                        </div>
                </div>
            </div>
            <div class="reviews__ellipse-box">
                <svg  class="reviews__ellipse" width="4px" height="4px">
                     <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg  class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg class="reviews__ellipse" width="4px" height="4px">
                  <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
            </div>
            <p class="reviews__name">Евгения, Киев</p>
            <div class="reviews__carousel dots">
                <svg  class="reviews__carousel-icon" width="12.4px" height="11.84px">
                    <use href="./images/icons/icons.svg#icon-home"></use>
                </svg>
                <svg  class="reviews__carousel-icon" width="12px" height="12px">
                    <use href="./images/reviews/symbol-defs.svg#ellipse-big"></use>
                </svg>
                <svg class="reviews__carousel-icon" width="12px" height="12px">
                   <use href="./images/icons/icons.svg#ellipse-big"></use>
                </svg>
            </div>
        </div> -->
        <!-- <div class="reviews__item">
            <div class="reviews__photo">
                <picture class="reviews__image">
                    <source srcset="./images/reviews/ihor.jpg"/>
                    <img class="reviews__image"
                        src="./images/reviews/ihor.jpg"
                        alt="Парень с маской на лице"/>
                </picture>
            </div>
            <div class="review__box">
                <div class="reviews__text-box">
                        <div class="reviews__text">
                            <svg  class="reviews__icon-top" width="54px" height="40px">
                                 <use href="./images/icons/icons.svg#icon-text"></use>
                            </svg>   
                            <span class="reviews__about">Игорь - человек, который хочет всем помочь, хотя лучше бы помог себе. Никуда не спешит, но все время опаздывает. Думает, что он во всем разбирается, а потом "пушит" свою ветку и ломает весь проект. Зато он добрый</span>
                        </div>
                </div>
            </div>
            <div class="reviews__ellipse-box">
                <svg  class="reviews__ellipse" width="4px" height="4px">
                   <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg  class="reviews__ellipse" width="4px" height="4px">
                  <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg class="reviews__ellipse" width="4px" height="4px">
                  <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
            </div>
            <p class="reviews__name">Игорь, Чернигов</p>
            <div class="reviews__carousel dots">
                <svg  class="reviews__carousel-icon" width="12.4px" height="11.84px">
                   <use href="./images/icons/icons.svg#icon-home"></use>
                </svg>
                <svg  class="reviews__carousel-icon" width="12px" height="12px">
                    <use href="./images/reviews/symbol-defs.svg#ellipse-big"></use>
                </svg>
                <svg class="reviews__carousel-icon" width="12px" height="12px">
                    <use href="./images/icons/icons.svg#ellipse-big"></use>
                </svg>
            </div>
        </div> -->
        <!-- <div class="reviews__item">
            <div class="reviews__photo">
                <picture class="reviews__image">
                    <source srcset="./images/reviews/zhenya.jpg"/>
                    <img class="reviews__image"
                        src="./images/reviews/zhenya.jpg"
                        alt="Девушка в голубом платье"/>
                </picture>
            </div>
            <div class="review__box">
                <div class="reviews__text-box">
                        <div class="reviews__text">
                            <svg  class="reviews__icon-top" width="54px" height="40px">
                                 <use href="./images/icons/icons.svg#icon-text"></use>
                            </svg>   
                            <span class="reviews__about">Здесь должен быть написан текст в остроумной форме, описывающий всю глубину моей очаровательной и обаятельной натуры, но, к сожалению, ничего толкового я так и не придумала</span>
                        </div>
                </div>
            </div>
            <div class="reviews__ellipse-box">
                <svg  class="reviews__ellipse" width="4px" height="4px">
                   <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg  class="reviews__ellipse" width="4px" height="4px">
                   <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg class="reviews__ellipse" width="4px" height="4px">
                  <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
            </div>
            <p class="reviews__name">Евгения, Ирпень</p>
            <div class="reviews__carousel dots">
                <svg  class="reviews__carousel-icon" width="12.4px" height="11.84px">
                   <use href="./images/icons/icons.svg#icon-home"></use>
                </svg>
                <svg  class="reviews__carousel-icon" width="12px" height="12px">
                    <use href="./images/reviews/symbol-defs.svg#ellipse-big"></use>
                </svg>
                <svg class="reviews__carousel-icon" width="12px" height="12px">
                   <use href="./images/icons/icons.svg#ellipse-big"></use>
                </svg>
            </div>
        </div> -->
        <!-- <div class="reviews__item">
            <div class="reviews__photo">
                <picture class="reviews__image">
                    <source srcset="./images/reviews/marta.jpg"/>
                    <img class="reviews__image"
                        src="./images/reviews/marta.jpg"
                        alt="Девушка на фоне статуи"/>
                </picture>
            </div>
            <div class="review__box">
                <div class="reviews__text-box">
                        <div class="reviews__text">
                            <svg  class="reviews__icon-top" width="54px" height="40px">
                                 <use href="./images/icons/icons.svg#icon-text"></use>
                            </svg>   
                            <span class="reviews__about">Иногда как понаписываю код: сижу, любуюсь не меньше, чем Венерой Милосской. Буду искать теперь искусство в ИТ! </span>
                        </div>
                </div>
            </div>
            <div class="reviews__ellipse-box">
                <svg  class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg  class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg class="reviews__ellipse" width="4px" height="4px">
                 <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
            </div>
            <p class="reviews__name">Марта, Львов</p>
            <div class="reviews__carousel dots">
                <svg  class="reviews__carousel-icon" width="12.4px" height="11.84px">
                    <use href="./images/icons/icons.svg#icon-home"></use>
                <svg  class="reviews__carousel-icon" width="12px" height="12px">
                    <use href="./images/reviews/symbol-defs.svg#ellipse-big"></use>
                </svg>
                <svg class="reviews__carousel-icon" width="12px" height="12px">
                    <use href="./images/icons/icons.svg#ellipse-big"></use>
                </svg>
            </div>
        </div> -->
    </div>
</section>

