<section class="reviews">
    <div class="container reviews--container">
        <div class="reviews__item">
            <div class="reviews__photo">
                <picture class="reviews__image">
                    <source srcset="./images/reviews/kristina.jpg" />
                    <img class="reviews__image" src="./images/reviews/kristina.jpg" alt="Девушка с мороженым" />
                </picture>
            </div>
            <div class="review__box">
                <div class="reviews__text-box">
                    <div class="reviews__text">
                        <svg class="reviews__icon-top" width="54px" height="40px">
                            <use href="./images/icons/icons.svg#icon-text"></use>
                        </svg>
                        <span class="reviews__about">"The prizewinner of "The Golden Dog-nail". The local cheerleader-girl Who is dreaming to marry a prince"</span>
                    </div>
                </div>
            </div>
            <div class="reviews__ellipse-box">
                <svg class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
            </div>
            <p class="reviews__name">Kristina, Madrid</p>
        </div>
        <div class="reviews__item">
            <div class="reviews__photo">
                <picture class="reviews__image">
                    <source srcset="./images/reviews/jaroslava.jpg"/>
                    <img class="reviews__image"
                        src="./images/reviews/jaroslava.jpg"
                        alt="Лицо девушки с черными волосами"/>
                </picture>
            </div>
            <div class="review__box">
                <div class="reviews__text-box">
                        <div class="reviews__text">
                            <svg  class="reviews__icon-top" width="54px" height="40px">
                                  <use href="./images/icons/icons.svg#icon-text"></use>
                            </svg>   
                            <span class="reviews__about">"You should work not 12 hours a day but... 15 hours with your head in IT industry"</span>
                        </div>
                </div>
            </div>
            <div class="reviews__ellipse-box">
                <svg  class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg  class="reviews__ellipse" width="4px" height="4px">
                   <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg class="reviews__ellipse" width="4px" height="4px">
                   <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
            </div>
            <p class="reviews__name">Jaroslava, London</p>
        </div> 
         <div class="reviews__item">
            <div class="reviews__photo">
                <picture class="reviews__image">
                    <source srcset="./images/reviews/dmytry.jpg"/>
                    <img class="reviews__image"
                        src="./images/reviews/dmytry.jpg"
                        alt="Мужчина в куртке возле красной машины"/>
                </picture>
            </div>
            <div class="review__box">
                <div class="reviews__text-box">
                        <div class="reviews__text">
                            <svg  class="reviews__icon-top" width="54px" height="40px">
                                  <use href="./images/icons/icons.svg#icon-text"></use>
                            </svg>   
                            <span class="reviews__about">"It is crucial to understand in time that you won’t go anywhere only with a layout"</span>
                        </div>
                </div>
            </div>
            <div class="reviews__ellipse-box">
                <svg  class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg  class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
            </div>
            <p class="reviews__name">Dmitry, Kiev</p>
        </div> 
        <div class="reviews__item">
            <div class="reviews__photo">
                <picture class="reviews__image">
                    <source srcset="./images/reviews/yevgeniya.jpg"/>
                    <img class="reviews__image"
                        src="./images/reviews/yevgeniya.jpg"
                        alt="Лицо светловолосой девушки"/>
                </picture>
            </div>
            <div class="review__box">
                <div class="reviews__text-box">
                        <div class="reviews__text">
                            <svg  class="reviews__icon-top" width="54px" height="40px">
                                 <use href="./images/icons/icons.svg#icon-text"></use>
                            </svg>   
                            <span class="reviews__about">"Held in profession and crazy HR decided categorically change her life and start Full Stack courses. Now she is busy all nights :)"</span>
                        </div>
                </div>
            </div>
            <div class="reviews__ellipse-box">
                <svg  class="reviews__ellipse" width="4px" height="4px">
                     <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg  class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg class="reviews__ellipse" width="4px" height="4px">
                  <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
            </div>
            <p class="reviews__name">Evgeniya, Kiev</p>
        </div>
        <div class="reviews__item">
            <div class="reviews__photo">
                <picture class="reviews__image">
                    <source srcset="./images/reviews/ihor.jpg"/>
                    <img class="reviews__image"
                        src="./images/reviews/ihor.jpg"
                        alt="Парень с маской на лице"/>
                </picture>
            </div>
            <div class="review__box">
                <div class="reviews__text-box">
                        <div class="reviews__text">
                            <svg  class="reviews__icon-top" width="54px" height="40px">
                                 <use href="./images/icons/icons.svg#icon-text"></use>
                            </svg>   
                            <span class="reviews__about">"Igor- a person who wants to help everyone, but it’s better if he helps himself. Never rushes , but always late. Thinks that he is good at everything, but then he pushes his own branch and breaks the entire project. However, he’s kind ."</span>
                        </div>
                </div>
            </div>
            <div class="reviews__ellipse-box">
                <svg  class="reviews__ellipse" width="4px" height="4px">
                   <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg  class="reviews__ellipse" width="4px" height="4px">
                  <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg class="reviews__ellipse" width="4px" height="4px">
                  <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
            </div>
            <p class="reviews__name">Igor, Chernigov</p>
        </div>
        <div class="reviews__item">
            <div class="reviews__photo">
                <picture class="reviews__image">
                    <source srcset="./images/reviews/zhenya.jpg"/>
                    <img class="reviews__image"
                        src="./images/reviews/zhenya.jpg"
                        alt="Девушка в голубом платье"/>
                </picture>
            </div>
            <div class="review__box">
                <div class="reviews__text-box">
                        <div class="reviews__text">
                            <svg  class="reviews__icon-top" width="54px" height="40px">
                                 <use href="./images/icons/icons.svg#icon-text"></use>
                            </svg>   
                            <span class="reviews__about">"There must be some witty text describing my charming nature over here! But unfortunately I haven't excogitated anything
                            clear"</span>
                        </div>
                </div>
            </div>
            <div class="reviews__ellipse-box">
                <svg  class="reviews__ellipse" width="4px" height="4px">
                   <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg  class="reviews__ellipse" width="4px" height="4px">
                   <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg class="reviews__ellipse" width="4px" height="4px">
                  <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
            </div>
            <p class="reviews__name">Evgeniya, Irpen</p>
        </div>
        <div class="reviews__item">
            <div class="reviews__photo">
                <picture class="reviews__image">
                    <source srcset="./images/reviews/marta.jpg"/>
                    <img class="reviews__image"
                        src="./images/reviews/marta.jpg"
                        alt="Девушка на фоне статуи"/>
                </picture>
            </div>
            <div class="review__box">
                <div class="reviews__text-box">
                        <div class="reviews__text">
                            <svg  class="reviews__icon-top" width="54px" height="40px">
                                 <use href="./images/icons/icons.svg#icon-text"></use>
                            </svg>   
                            <span class="reviews__about">"Sometimes my code is like an art. So I'm going to looking for the art in IT"</span>
                        </div>
                </div>
            </div>
            <div class="reviews__ellipse-box">
                <svg  class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg  class="reviews__ellipse" width="4px" height="4px">
                    <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
                <svg class="reviews__ellipse" width="4px" height="4px">
                 <use href="./images/icons/icons.svg#ellipse"></use>
                </svg>
            </div>
            <p class="reviews__name">Marta, Lviv</p>
        </div>
    </div>
</section>