<section class="gallery">
    <div class="container container--gallery">
        <ul class="gallery__list">
            <li class="gallery__column">
                <picture class="gallery__picture">
                    <source srcset="./images/gallery/11x.jpg 1x, ./images/gallery/12x.jpg 2x" />
                    <img class="gallery__image" src="./images/gallery/11x.jpg" alt="Два мороженых в тарелке" />
                </picture>

            </li>
            <li class="gallery__column gallery__column--two">
                <picture class="gallery__picture">
                    <source srcset="./images/gallery/21x.jpg 1x, ./images/gallery/22x.jpg 2x" />
                    <img class="gallery__image" src="./images/gallery/21x.jpg" alt="Мороженое в руке на желтом фоне" />
                </picture>
                <picture class="gallery__picture">
                    <source srcset="./images/gallery/31x.jpg 1x, ./images/gallery/32x.jpg 2x" />
                    <img class="gallery__image" src="./images/gallery/31x.jpg" alt="Шесть розовых мороженых на столе" />
                </picture>

            </li>
            <li class="gallery__column gallery__column--three">
                <picture class="gallery__picture gallery__picture--big">
                    <source srcset="./images/gallery/41x.jpg 1x, ./images/gallery/42x.jpg 2x" />
                    <img class="gallery__image" src="./images/gallery/41x.jpg"
                        alt="Восемь мороженых на столе со свежими ягодами" />
                </picture>
                <picture class="gallery__picture gallery__picture--small">
                    <source srcset="./images/gallery/51x.jpg 1x, ./images/gallery/52x.jpg 2x" />
                    <img class="gallery__image" src="./images/gallery/51x.jpg"
                        alt="Девушка с мороженым на фоне цветной стены" />
                </picture>

            </li>
            <li class="gallery__column gallery__column--four">
                <picture class="gallery__picture">
                    <source srcset="./images/gallery/61x.jpg 1x, ./images/gallery/62x.jpg 2x" />
                    <img class="gallery__image" src="./images/gallery/61x.jpg"
                        alt="Мороженое в стеклянном стаканчике рядом с рукой" />
                </picture>
                <picture class="gallery__picture">
                    <source srcset="./images/gallery/71x.jpg 1x, ./images/gallery/72x.jpg 2x" />
                    <img class="gallery__image" src="./images/gallery/71x.jpg"
                        alt="Оранжевое мороженое в руке на фоне улицы" />
                </picture>

            </li>
            <li class="gallery__column gallery__column--five">
                <picture class="gallery__picture">
                    <source srcset="./images/gallery/81x.jpg 1x, ./images/gallery/82x.jpg 2x" />
                    <img class="gallery__image" src="./images/gallery/81x.jpg"
                        alt="Собачка облизывает мороженое в руке человека" />
                </picture>
                <picture class="gallery__picture">
                    <source srcset="./images/gallery/91x.jpg 1x, ./images/gallery/92x.jpg 2x" />
                    <img class="gallery__image" src="./images/gallery/91x.jpg"
                        alt="Коктейль с мороженым в руке человека" />
                </picture>

            </li>
            <li class="gallery__column">
                <picture class="gallery__picture">
                    <source srcset="./images/gallery/101x.jpg 1x, ./images/gallery/102x.jpg 2x" />
                    <img class="gallery__image" src="./images/gallery/101x.jpg"
                        alt="Мороженое с стаканчике на фоне желтой стены" />
                </picture>

            </li>

        </ul>
    </div>
</section>