<header>
    <div class="container">
        <a href="index.html">
            <img class="main__logo" src="./images/hero/icecream-logo.png" alt="logo">
        </a>
        <nav>
            <a href="index.html" class="current nav__link link"> Home</a>
            <a href="#products" class="nav__link link"> Our products</a>
            <a href="#about" class="nav__link link"> How it’s made?</a>
            <a href="#advantages" class="nav__link link"> About us</a>
            <a href="#contacts" class="nav__link link"> Contact</a>
        </nav>
        <div class="navigation__buttons">
            <button type="button" class="burger__button">
                <svg width='20' height='12'>
                    <use href='./images/icons/icons.svg#icon-menu-burger'></use>
                </svg>
            </button>
            <button type="button" class="check-right buy__now">Buy now
                <svg width='8px' height='16px' class="arrow">
                    <use href='./images/icons/icons.svg#check-right'></use>
                </svg>
            </button>
        </div>
    </div>
</header>