<header>
    <div class="container">
        <img class="main__logo" src="./images/hero/icecream-logo.png">
        <nav>
            <a href="" class="current"> Home</a>
            <a href=""> About us</a>
            <a href=""> How it’s made?</a>
            <a href=""> Our products</a>
            <a href=""> Contact</a>
        </nav>
        <button type="button" class="burger__button">
            <svg width='20' height='12'>
                <use href='./images/icons/icons.svg#icon-menu-burger'></use>
            </svg>
        </button>
        <button type="button" class="button">Buy now 
            <svg width='8px' height='16px' class="arrow">
                <use href='./images/icons/icons.svg#icon-arrow'></use>
            </svg>
        </button>
    </div>
</header>