<section class="hero__section">
    <div class="container hero__container">
        <div class="description__block">
            <p class="main__label"> ice cream <br>made with</p>
            <h1 class="main__title">passion</h1>
            <ul class="hero-buttons">
                <li><button type="">Products</button></li>
                <li><button type="button">How it’s made?</button></li>
            </ul>
            <div class="description">
                <!-- <img srcset="./images/milk-desk-1x.png 188w,
                                            ./images/milk-desk-2x.png 372w,
                                            ./images/milk-tab-1x.png 124w
                                            ./images/milk-tab-2x.png 248w" sizes=" (min-width:1280px) 188px, (min-width:768px) 124px "
                    src=" ./images/milk-desk-1x.png"> -->
                <div class="description__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et</p>
                    <button type="button" class="round__button"><svg width='18' height='18'></svg></button>
                </div>
            </div>
        </div>
        <div class="info">
            <ul>
                <li><span>16</span> cafes</li>
                <li><span>23</span> food trucks</li>
            </ul>
            <!-- <img srcset="./images/hero-girl-desk1x.png 293w ,
                    ./images/hero-girl-desk2x.png 586w ,
                     ./images/hero-girl-tab1x.png 168w, 
                     ./images/hero-girl-tab2x.png 336w, 
                    " sizes="(min-width:1280px) 293px, (min-width:768px) 168px" src="./images/hero-girl-desk1x.png"
                alt="happy girl"> -->
        </div>
    </div>
</section>