<section class="hero__section">
    <div class="container hero__container">
        <img class="banner__background" src="./images/hero/Ellipse.png">
        <div class="description__block">
            <p class="main__label"> ice cream <br>made with</p>
            <h1 class="main__title">passion</h1>
            <ul class="hero-buttons">
                <li><button type="" class="button__check-right .dark__button">Products</button></li>
                <li><button type="button" class="button__check-right">How it’s made?</button></li>
            </ul>
            <div class="description">
                <img srcset="./images/hero/milk-desk-1x.png 188w,
                    ./images/hero/milk-desk-2x.png 372w,
                    ./images/hero/milk-tab-1x.png 124w
                    ./images/hero/milk-tab-2x.png 248w" sizes=" (min-width:1280px) 188px, (min-width:768px) 124px "
                    src=" ./images/hero/milk-desk-1x.png">
                <div class="description__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et</p>
                    <button type="button" class="round__button"><svg width='18' height='18'></svg></button>
                </div>
            </div>
        </div>
        <div>

            <img class="hero__banner" srcset="
                          ./images/hero/icecream-desk-1x.png 236w,
                          ./images/hero/icecream-desk-1x.png 472w,
                          ./images/hero/icecream-tab-1x.png 143w,
                          ./images/hero/icecream-tab-2x.png 286w"
                sizes="(min-width:1200px) 236px, (min-width:768px) 143px " src=" ./images/hero/icecream-desk-1x.png"
                alt="huge delicious ice-cream">

        </div>
        <div class="info">
            <ul class="numbers__list">
                <li><span class="number">16</span>
                    <p>cafes</p>
                </li>
                <li><span class="number">23</span>
                    <p>food trucks</p>
                </li>
            </ul>

            <!-- <img class="girl" 
            srcset="./images/hero/hero-girl-desk1x.png 293w,
                    ./images/hero/hero-girl-desk2x.png 586w,
                    ./images/hero/hero-girl-tab1x.png 168w, 
                    ./images/hero/hero-girl-tab2x.png 336w," sizes="(min-width:1280px) 293px, (min-width:768px) 168px"
            src="./images/hero/hero-girl-desk1x.png" alt="happy girl"> -->
            <img class="girl" 
            src="./images/hero/hero-girl-desk1x.png" alt="happy girl">
        </div>
    </div>
</section>
<div class="mobile-menu is-hidden">
    <div class="mobile__container">
        <button type="button" class="menu-close">
            <svg width='23px' height='23px'>
                <use href='./images/icons/icons.svg#icon-menu-close'></use>
            </svg>
        </button>
        <button type="button" class="button__check-right mobile__button">Buy now
            <svg width='8px' height='16px' class="arrow">
                <use href='./images/icons/icons.svg#icon-arrow'></use>
            </svg>
        </button>
        <ul class="mobile__nav">
            <li> <a href="" class="current nav__link"> Home</a></li>
            <li> <a href="#about" class="nav__link"> About us</a></li>
            <li><a href="#" class="nav__link"> How it’s made?</a></li>
            <li><a href="#products" class="nav__link"> Our products</a></li>
            <li><a href="#contacts" class="nav__link"> Contact</a></li>
        </ul>
    </div>
</div>