.section__advantages {
  padding-top: 105px;
  padding-bottom: 97px;

  background-color: $background-light-bg;

  @media screen and (min-width: 768px) {
    padding-top: 152px;
    padding-bottom: 140px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 66px;
    padding-bottom: 139px;
  }
}
.container-advantages {
  @media screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 70px;
  }
}

.title__advantages {
  display: none;
}

.item__advantages {
  position: relative;

  display: block;
  @media screen and(min-width:768px) {
    width: 180px;
  }
  @media screen and(min-width:1280px) {
    width: calc((100%-90px) / 3);
  }

  &:not(:last-child) {
    margin-bottom: 104px;
    @media screen and(min-width:768px) {
      margin-bottom: 0;
      margin-right: 60px;
    }
    @media screen and(min-width:1280px) {
      margin-right: 30px;
    }
  }
}
.item__advantages::before {
  position: absolute;
  top: -66px;
  left: 0;

  display: block;
  content: ' ';

  height: 50px;
  @media screen and(min-width:768px) {
    top: -86px;
  }
  @media screen and(min-width:1280px) {
    top: -90px;
  }
}

.item__advantages--milk::before {
  background-image: url(../images/advantages/about-icon1-mob1x.png);
  background-repeat: no-repeat;
  background-size: contain;

  width: 33px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    backgroun-image: url(../images/advantages/about-icon1-mob2x.png);
  }
}

.item__advantages--apple::before {
  background-image: url(../images/advantages/about-icon2-mob1x.png);
  background-repeat: no-repeat;
  background-size: contain;

  width: 50px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/advantages/about-icon2-mob2x.png);
  }
}
.item__advantages--heart::before {
  background-image: url(../images/advantages/about-icon3-mob1x.png);
  background-repeat: no-repeat;
  background-size: contain;

  width: 44px;

  @media (min-device-pixel-resolution: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/advantages/about-icon3-mob2x.png);
  }
}
.list__avantages {
  @media screen and(min-width:768px) {
    display: flex;
    margin-left: 1px;

    @media screen and(min-width:1280px) {
      margin-left: 0;
    }
  }
}
.data__advantages {
  margin-bottom: 13px;

  font-family: Titan One;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $accent-color-dark;

  @media screen and(min-width:768px) {
    font-size: 48px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.13;
  }
}

.text__advantages {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.666;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.71;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
  }
}
