.section__advantages {
  background-color: $background-light-bg;
  padding-top: 125px;
  padding-bottom: 39px;
}

.section__label--advantages {
  text-align: center;
  margin-bottom: 15px;
}

.section__title--advantages {
  text-align: center;
  margin-bottom: 26px;
}
