.contacts {
    padding: 50px;
    // display: flex;
    // justify-content: center;
        
    background-image: linear-gradient(
        to bottom, 
        #FFFFFF 10%,
        #FFF5F6 10%
        #FFF5F6 90%
        );

    @media screen and (min-width: 768px)  {
            background-image: linear-gradient(
                to bottom, 
                #FFFFFF 15%,
                #FFF5F6 15%
                #FFF5F6 85%
                );
        }
}

.contact-container {
    padding-top: 25px;
    padding-bottom: 25px;

    @media screen and (min-width: 768px)  {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @media screen and (min-width: 1280px)  {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.time {
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
}

.cards-contact {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-right: -10px;
    }

    @media screen and (min-width: 1280px)  {
        margin-right: -31px;
    }
  }

.contact-item {
        max-width: 220px;
        width: 100%;
        margin-bottom: 20px;
        padding: 43px 21px 43px 20px;
        
        background: #FFFFFF;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;

        @media screen and (min-width: 768px)  {
            font-size: 13px;
            margin-right: 10px;
            margin-bottom: 0px;
            padding: 50px 32px 50px 31px;
        }

        @media screen and (min-width: 1280px)  {
            font-size: 16px;
            margin-right: 31px;
            max-width: 330px;
            padding: 51px 44px 62px 43x;
        }

    &__title {
        display:inline-block;

        padding: 0px 24px;
        background: #F0D1A5;
        border-radius: 4px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__title-truck {
        background: #C2E297;
    }

    &__city {
        margin-bottom: 10px;
    }
    &__text {
        line-height: 1.5;
        color: #907E82;
        font-size: 11px;

        @media screen and (min-width: 768px)  {
            font-size: 13px;
            line-height: 1.66;
        }

        @media screen and (min-width: 1280px)  {
            font-size: 16px;
            line-height: 1.83;
        }
    }
}

.contact-item:last-child,
.contact-item__text:last-child {
    margin-bottom: 0px;
}

.contact-container:last-child {
    padding-bottom: 0px;
}

.time-pink {
    color: #FFA5BA;
}

.weekdays {
    margin-bottom: 10px;
}

