.contacts {
  padding: 50px 0 50px;
  // display: flex;
  // justify-content: center;

  background-image: linear-gradient(to bottom, #ffffff 10%, #fff5f6 10%, #fff5f6 90%);

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, #ffffff 15%, #fff5f6 15%, #fff5f6 85%);
  }

  @media screen and (min-width: 1280px) {
  }
}

.contact-container {
  padding-top: 25px;
  padding-bottom: 25px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.time {
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}

.cards-contact {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: -10px;
    margin-bottom: 80px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: -31px;
    margin-bottom: 85px;
  }
}

.contact-item {
  display: block;
  margin-left: auto;
  margin-right: auto;

  max-width: 220px;
  width: 100%;
  margin-bottom: 20px;
  padding: 43px 21px 43px 20px;

  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 50px 32px 50px 31px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-right: 31px;
    max-width: 330px;
    padding: 51px 44px 62px 43x;
  }

  &__title {
    display: inline-block;

    padding: 0px 24px;
    background: #f0d1a5;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__title-truck {
    background: #c2e297;
  }

  &__city {
    margin-bottom: 10px;
  }
  &__text {
    line-height: 1.5;
    color: #907e82;
    font-size: 11px;

    @media screen and (min-width: 768px) {
      font-size: 13px;
      line-height: 1.66;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.83;
    }
  }
}

.contact-item:last-child,
.contact-item__text:last-child {
  margin-bottom: 0px;
}

.contact-container:last-child {
  padding-bottom: 0px;
}

.time-pink {
  color: #ffa5ba;
}

.weekdays {
  margin-bottom: 10px;
}

.button__check-right {
  min-width: 180px;
  display: flex;
  align-items: baseline;
  justify-content: center;

  // margin-left: auto;
  margin-right: auto;

  padding-top: 14px;
  padding-bottom: 14px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;

  color: #d41443;

  border: none;
  background: $white-text-color;
  border-radius: 22px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  &__icon-location {
    stroke: #d41342;
  }
}

.buttons-map {
  margin-top: 54px;
  margin-bottom: 54px;

  @media screen and (min-width: 768px) {
    display: flex;
    max-width: 380px;
    margin-right: auto;
    margin-left: auto;
  }
}

.btn-right {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  padding-top: 14px;
  padding-bottom: 14px;

  font-weight: bold;
  color: $accent-color-dark;
  border: none;
  background-color: #ffffff;
  border-radius: 22px;
  cursor: pointer;

  &__icon-location {
    stroke: #ffffff;
    color: #d41342;
    margin-left: 11px;
  }
  &__icon-franchise {
    margin-left: 14.17px;
    stroke: $accent-color-dark;
  }
}

.button-franchise {
  padding-left: 33px;
  padding-right: 33.3px;
  font-size: 16px;
  line-height: 1.31;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
  @media screen and (min-width: 768px) {
    min-width: 180px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.check-right__icon-franchise {
  margin-left: 14.17px;
  stroke: $accent-color-dark;
}

.button-location {
  color: $white-text-color;
  background-color: #d41342;
  padding-left: 18px;
  padding-right: 18.84px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.31;

  @media screen and (min-width: 768px) {
    min-width: 180px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 14.5px;
    margin-bottom: 0;
  }
}

.check-right__icon-location {
  margin-left: 11px;
  stroke: #ffffff;
}
