.reviews__image {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.reviews__image:hover,
.reviews__image:focus {
  transform: scale(1.4);
  border: 2px solid $background-hero;
  z-index: 3;
}

.reviews__photo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 29px;
  padding-top: 80px;
}

.review__box {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin-left: 74px;
    margin-right: 74px;
    margin-left: 0px;
    margin-right: 0px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 178px;
    margin-right: 178px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.reviews__text {
  width: 157px;
  height: 100%;
  margin: 0 50px 26px;

  font-family: $basic-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  text-indent: 35px;

  position: relative;
  background-image: repeating-linear-gradient(
    to bottom,
    #fafafa,
    #fafafa 28px,
    #e1e1e1 28px,
    #e1e1e1 29px
  );

  @media screen and (min-width: 768px) {
    width: 460px;
    margin-bottom: 34px;
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1280px) {
    width: 750px;
    font-size: 16px;
    line-height: 1.86;
  }
}

.reviews__text-box {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 43px;

  // &::after {
  //     content: "";
  //     display: block;
  //     width: 4px;
  //     height: 4px;
  //     background-image: url("../images/reviews/symbol-defs.svg#ellipse");
  //     background-size: contain;
  // }
}

.reviews__icon-top {
  position: absolute;
  top: -15px;
  left: 4px;

  @media screen and (min-width: 768px) {
    left: 14px;
  }
}

.reviews__about {
  position: relative;
  font-family: $basic-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  color: $primary-text-color;
}

.reviews__name {
  text-align: center;
  font-family: $basic-font;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.875;
  margin-bottom: 30px;
  color: $primary-text-color;
}

.reviews__ellipse-box {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.reviews__ellipse:not(:last-child) {
  margin-right: 10px;
}

.reviews__carousel-icon:not(:last-child) {
  margin-right: 18px;
}

.reviews__carousel {
  display: flex;
  justify-content: center;
}

.slick-dots {
  text-align: center;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.slick-dots button {
  background: #d9d9d9;
  border: none;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin: 0px;
  outline: none;
  color: transparent;
  position: relative;
}

.slick-dots li:not(:last-child) {
  margin-right: 18px;
}

.slick-dots li[class='slick-active'] button::before {
  content: '';
  background-image: url('../images/reviews/symbol-defs.svg#icon-home');
  width: 12.4px;
  height: 11.84px;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}
