.footer {
  background-color: rgba(255, 245, 246, 1);
}

.footer__base {
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 43px;
  @media screen and (min-width: 768px) {
    display: flex;
    padding-bottom: 91px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 97px;
  }
}

.footer__text {
  font-family: 'Titan One';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.145;
  color: rgba(255, 165, 186, 1);
  text-transform: uppercase;
  margin-bottom: 17px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    letter-spacing: 0.04em;
    font-size: 26px;
    max-width: 340px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
.footer__subtext {
  font-family: 'Titan One';
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: 1.145;
  letter-spacing: 0.04em;
  color: rgba(212, 20, 67, 1);
  text-transform: uppercase;

  
  @media screen and (max-width: 767px) {
    max-width: 200px;
    margin-bottom: 43px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    letter-spacing: 0.06em;
    font-size: 48px;
    max-width: 340px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    max-width: 474px;
  }
}
.social {
  display: flex;
}

.social__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 46px;
  padding: 0;
  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
  }
}

.social__item {
  width: 32px;
  height: 32px;
  margin-right: 28px;
  @media screen and (min-width: 768px) {
    margin-right: 30px;
    width: 34px;
    height: 34px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 24px;
  }
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  fill: #ffffff;
  background-color: rgba(254, 165, 187, 1);
  border-radius: 50% 50%;
  &:hover {
    background-color: rgba(212, 20, 67, 1);
    cursor: pointer;
  }
  &:focus {
    background-color: rgba(212, 20, 67, 1);
    cursor: pointer;
  }
}

.social__link:hover,
.social__link:focus {
  background-color: $accent-color-dark;
}

.footer__contacts-detales {
  font-family: 'DM Sans';
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  line-height: 1.86;
  letter-spacing: 0.01em;
  color: rgba(212, 20, 67, 1);
  @media screen and (min-width: 768px) {
    letter-spacing: 0.01em;
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    letter-spacing: 0.02em;
    font-size: 16px;
  }

}

.footer__contacts-text {
  color: black;
  font-size: 700;
  font-weight: 12px;
}

.footer__contacts-rights {
  font-family: 'DM Sans';
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.02em;
  color: rgba(144, 126, 130, 1);
  padding-top: 22px;
  padding-bottom: 25px;

  text-align: center;

  @media screen and (max-width: 767px) {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    padding-top: 29px;
    padding-bottom: 18px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

.footer__top {
  display: flex;
  flex-direction: column;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__border{
  border-top: 1px solid #e1e1e1;

}
