header {
  background-color: $background-hero;
}
a {
  text-decoration: none;
}
header .container {
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  @media screen and (min-width: 767px) {
    padding-top: 37px;
    align-items: flex-start;
  }
  @media screen and (min-width: 1280px) {
    align-items: center;
  }
}
.main__logo {
  padding-top: 6px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 30px;
  }
}
.burger__button {
  stroke: $accent-color-dark;
  background-color: inherit;
  border: none;
  padding: 25px 0 25px 0;
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    margin-right: 30px;
    padding: 14px 0;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
nav {
  @media screen and (max-width: 1279px) {
    display: none;
  }
  z-index: 3;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  font-weight: 700;
  color: $white-text-color;
  & :not(:last-child) {
    margin-right: 35px;
  }
}
.current {
  color: $accent-color-dark;
}
.nav__link {
  &:focus,
  &:hover {
    transform: scale(1.1);
    color: $accent-color-dark;
  }
}

.button {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    width: 160px;
    height: 44px;
    padding-top: 17px;
    padding-bottom: 19px;
    color: $accent-color-dark;
    align-items: center;
  }
}

.buy__now {
  width: 160px;
  height: 44px;
  padding: 0, 37px;
  @media screen and (max-width: 767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.arrow {
  width: 11px;
  height: 11px;
  fill: $accent-color-dark;
  stroke: $accent-color-dark;
  margin-left: 8px;
}
.navigation__buttons {
  display: flex;
  align-items: baseline;
  @media screen and (min-width: 768px) {
    align-items: flex-start;

    z-index: 1;
  }

  .check-right {
    display: block;
    align-items: center;

    margin-right: auto;
    /*padding-left: 37px;
  padding-right: 37.96px;
  padding-top: 14px;
  padding-bottom: 12px;*/

    border: none;
    background: $white-text-color;
    border-radius: 22px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;

    color: $accent-color-dark;

    &:hover,
    &:focus {
      background: #ecebeb;
    }
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-heihgt: 1.31;
      margin-right: 16px;
    }
  }
  .round__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    background-color: $white-text-color;

    &:hover,
    &:focus {
      background-color: #ecebeb;
      box-shadow: 0px 0px 0px 1px #d41443;
      transform: scale(1.2);
      transition-property: transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
